@charset "utf-8";

body {
    margin: 0;
    background: #fffbef;
}

.h1 {
    margin: 80px 0 0 0;
    font-weight: normal;
}

.h2 {
    font-size: 16px;
}

.list {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    list-style: none;
}

.flex {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 50px;
    padding: 0 30px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: all;
}

.flex:hover {
    background: #ffda5f;
}

.mark {
    position: relative;
    width: 20px;
    height: 20px;
    right: 0;
}

.mark span {
    position: absolute;
    content: "";
    background: #000;
    right: 0;
    transition: .3s;
    pointer-events: all;
}

.mark span:first-child {
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
}

.mark span:last-child {
    width: 1px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.mark span.open:first-child {
    content: none;
}

.mark span.open:last-child {
    transform: rotate(90deg);
}


dl {
    margin-top: 40px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

dt {
    margin: 0;
    width: 25%;
    padding: 0 0 40px 24px;
    font-weight: bold;
}

dd {
    margin: 0;
    padding-bottom: 40px;
    width: 75%;
}

.container {
    width: 97vw;
    margin: 0 auto;
}